@font-face {
    font-family: "font1";
    src: url("../fonts/NatureBeautyPersonalUse-9Y2DK.ttf");
}
@font-face {
    font-family: "font2";
    src: url("../fonts/RocknRollOne-Regular.ttf");
}
body{
    background-image: url("../image/bg4.jpg");
    

}
.txt{
    color: darkred;
    font-family: "font1";

    background-color: rgba(255, 255, 255, 0.603);
    padding: 30px;
    border: 1px solid brown;
    border-radius: 20px;
    
}
.text{
    text-align: center;
    padding: 30px;
}
.textContainer{
    padding: 20px;
    border: 1px solid brown;
    border-radius: 20px;
    background-color: rgb(110, 247, 128);
    font-family: "font2";
    
}



.rowContainer{
    padding: 20px 0px;
}
p{
    word-spacing: 10px;
    font-size: 18px;
}
.qContainer{
    padding: 70px ;
    border: 1px solid brown;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.664);
    font-family: "font2";
}



td{
    padding-top: 10px ;
}
.audioContainer{
    padding: 20px 0px;
}

h3{
    
    font-style: italic;
    font-family: "font2";
    font-size: 20px;

}


.result{
    padding-left: 45px;
}

.resContainer{
    border-width: 0px;
    color: black;
    width: 100%;
    padding-bottom: 5px;
    font-size: 20px;
}

.bttn{
    background-color: rgb(128, 0, 85);
	color: white;
	font-size: 20px;
	text-align: center;
	letter-spacing:1px;
	font-family: 'Times New Roman';
	padding: 20px;
	border-radius: 10px;
	border-color: transparent;
	transition:all 1s ease;
}

.bg{
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-family: "font2";

}

#Btn {
	display: none; 
	position: fixed;
	bottom: 20px; 
	right: 30px;
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: rgb(42, 179, 0); 
	color: white;
	padding: 10px; 
	border-radius: 20px;
	font-size: 18px;
	font-family: "font5";
	font-weight: 100;
	
  }
  
  #Btn:hover {
	background-color: rgb(251, 255, 7); 
	color:rgb(255, 255, 255);
  }