body{
  background-color: rgb(4, 4, 112);
  color: white;
}

h1 {
    width: 50%; 
    margin: 0 auto; 
    padding-top: 20px;
    text-align: center;
  }


  p{
    padding-top: 5%;
    text-align: center;
  }

  img{
    width: 90px;
    padding-top: 10%;

    
  }
  
.button {
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Times New Roman';
  padding: 15px;
  border-radius: 10px;
  border-color: transparent;
  background: white;
  -webkit-animation: myfirst 2s infinite;
  -moz-animation: myfirst 2s infinite;
  -o-animation: myfirst 2s infinite;
  animation: myfirst 2s infinite;
}

@-webkit-keyframes myfirst {
  0% { background: white; }
  50% { background: rgb(0, 153, 255); }
  100% { background: white; }
}

@-moz-keyframes myfirst {
  0% { background: rgb(18, 181, 221); }
  50% { background: white; }
  100% { background: rgb(0, 110, 255); }
}

@-o-keyframes myfirst {
  0% { background: rgb(0, 110, 255); }
  50% { background: white; }
  100% { background: rgb(0, 110, 255); }
}

@keyframes myfirst {
  0% { background: rgb(4, 159, 211); }
  50% { background: white; }
  100% { background: rgb(0, 110, 255); }
}

